footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 30px;
  height: 40px;
}
.wide {
  width: 50px;
}
.wide img {
  width: 25px;
}
